*       @Mostafa-SAID7

# Backend
/api-server/    @Mostafa-SAID7

# Frontend
/naar-noor/     @Mostafa-SAID7

# Infrastructure & CI/CD
/.github/       @Mostafa-SAID7
/docker*/       @Mostafa-SAID7
Makefile        @Mostafa-SAID7
